@font-face {
	font-family: 'Because We Connect';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/BecauseWeConnect.eot');
/* IE9 Compat Modes */
/* IE6-IE8 */
/* Super Modern Browsers */
/* Pretty Modern Browsers */
/* Safari, Android, iOS */
	src: url('../fonts/BecauseWeConnect.otf') format('otf'), url('../fonts/BecauseWeConnect.eot?#iefix') format('embedded-opentype'),  url('../fonts/BecauseWeConnect.woff2') format('woff2'),  url('../fonts/BecauseWeConnect.woff') format('woff'),  url('../fonts/BecauseWeConnect.ttf') format('truetype'),  url('../fonts/BecauseWeConnect.svg#svgFontName') format('svg');
/* Legacy iOS */
}
